DB_NAME=your_db_name
DB_USERNAME=your_username
DB_PASSWORD=our_password
KEYCLOAK_SERVER_URL=your_kc_auth_server_url # сюда указать URI до кейклока глобальный с айпишником сервера
KEYCLOAK_INTERNAL_URL=internal_address_to_kc_inside_docker_network # а сюда из docker network (в нашем случае просто http://keycloak:8080)
KEYCLOAK_REALM=your_realm_name
KEYCLOAK_CLIENT_ID=your_client_id
KEYCLOAK_CLIENT_SECRET=your_clients_secret
KEYCLOAK_ADMIN=admin_name_kc
KEYCLOAK_PASSWORD=admin_password_kc
PORT_POSTGRES=host_port_fpr_postgres
PORT_BACKEND=host_port_fpr_backend
PORT_FRONTEND=host_port_fpr_frontend
PORT_KEYCLOAK=host_port_fpr_keycloak