DB_NAME=your_db_name
DB_USERNAME=your_username
DB_PASSWORD=our_password
JWT_SECRET=your_jwt_secret
REDIS_PASSWORD=your_redis_password
KEYCLOAK_ADMIN=your_keycloak_admin_username
KEYCLOAK_PASSWORD=your_keycloak_admin_password
PORT_POSTGRES=host_port_fpr_postgres
PORT_BACKEND=host_port_fpr_backend
PORT_FRONTEND=host_port_fpr_frontend
PORT_KEYCLOAK=host_port_fpr_keycloak